@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}
.react-calendar {
  background-color: #1c1c24 !important;
}

.react-calendar__tile:disabled {
  background-color: #282848 !important;
}
.react-calendar__navigation button {
  background-color: transparent !important;
}
.react-calendar__tile--now {
  background-color: #0bb828 !important;
}
.react-date-picker__button svg {
  filter: brightness(0) invert(1);
}
